<a href="https://colab.research.google.com/github/Gus-1003/ENEM_2021-Data_analysis/blob/main/Conclus%C3%A3o/Sistema_Enem_2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bibliotecas

In [40]:
# Biblioteca Pandas: usada para manipulação de dados em formato tabular, facilitando a análise e processamento desses dados;
import pandas as pd

# NumPy oferece operações matemáticas poderosas para arrays e matrizes;
import numpy as np

# A biblioteca Matplotlib é uma das mais usadas para visualização de dados, oferecendo diversas ferramentas e opções de plotagem;
import matplotlib.pyplot as plt

# A biblioteca Seaborn é construída em cima do Matplotlib, adicionando ainda mais recursos para criar gráficos mais sofisticados e visualmente atraentes.
import seaborn as sns

In [41]:
# importe da biblioteca drive do Google Colab, que é usada para fazer a conexão com o Google Drive.
from google.colab import drive

# o método mount() para montar o Google Drive na sessão atual do Colab. Isso significa que a sessão do Colab agora terá acesso aos arquivos armazenados no Google Drive.
drive.mount('/content/drive/')

''' comando %cd é usado para mudar o diretório atual para a pasta MyDrive dentro do Google Drive, para que os arquivos dentro dessa
pasta possam ser facilmente acessados pelo código em Python que será executado na sessão do Colab.'''

%cd /content/drive/MyDrive/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/MyDrive

# Leitura dataset:

In [42]:
microdados = '/content/drive/MyDrive/Pesquisa_Enem/Base de Dados/MICRODADOS_ENEM_2018.csv'

In [43]:
# Divide o caminho do arquivo e obtém o nome do frame
nome_completo = microdados.split('/')
nome = nome_completo[6].split('_')
amostra = nome[2]

print(microdados)
print(amostra)

/content/drive/MyDrive/Pesquisa_Enem/Base de Dados/MICRODADOS_ENEM_2018.csv
2018.csv

In [44]:
"""Para carregar os dados em Python, você pode usar a função read_csv() do pandas para carregar dados de um arquivo CSV,
ou outras funções semelhantes para carregar dados de outros tipos de arquivos:"""

dados = pd.read_csv(microdados, encoding='latin-1', delimiter=";", quotechar='"', usecols=['TP_PRESENCA_CN', 'CO_PROVA_CN','NU_NOTA_CN','TX_RESPOSTAS_CN'])
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
0,1.0,449.0,534.2,BABDABEECDBDCBCAAAEDCEDDEADADEACABEEBABCABADC
1,1.0,447.0,506.9,BADEBBDBDECBADCCDCEDAEDBBEDCABEAECABCAEEAEACE
2,1.0,449.0,470.6,CEEEEDBDACBBDADABCCCBDBBEBCEDEAACBACEEEBEBBEE
3,1.0,450.0,588.9,AAEBECBAEAECEBAABADCDBDCDBAEDACBCDCDDCDEEBBEC
4,1.0,448.0,477.8,ADEEEEEBDCBBBBCAACCCEEEDDACCCDBDAACCACBACECDC
...,...,...,...,...
5513728,1.0,448.0,489.3,ABAAEEEBECBBBBCCDAEEBDDCDEBDDAAEBDCDDCBEDACDA
5513729,0.0,NaN,NaN,NaN
5513730,1.0,449.0,425.8,ECDEADBBDEEAAABEDEACAECECDCCCEAADABCADBDCEDBC
5513731,1.0,447.0,462.8,ECCBBBDCAEDABBECCCBBADCEDDCDBCAACAABBADDBADBC
5513732,1.0,447.0,486.2,BCDAABDCCBCBBCBADDDACCDEBACABDECABCBCACCDEAEB

# Pré-processamento:

## Garantia da Presença:

In [45]:
'''O argumento index do método drop() é utilizado para remover as linhas que foram selecionadas, utilizando o atributo index do DataFrame resultante
da seleção: dados[dados.TP_PRESENCA_CN == 0].index.'''

# Apagando o registro dos alunos ausentes:
dados = dados.drop(index=dados[dados.TP_PRESENCA_CN == 0].index)

# Apagando o registro dos alunos eliminados:
dados = dados.drop(index=dados[dados.TP_PRESENCA_CN == 2].index)

dados.shape

(3905240, 4)

In [46]:
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
0,1.0,449.0,534.2,BABDABEECDBDCBCAAAEDCEDDEADADEACABEEBABCABADC
1,1.0,447.0,506.9,BADEBBDBDECBADCCDCEDAEDBBEDCABEAECABCAEEAEACE
2,1.0,449.0,470.6,CEEEEDBDACBBDADABCCCBDBBEBCEDEAACBACEEEBEBBEE
3,1.0,450.0,588.9,AAEBECBAEAECEBAABADCDBDCDBAEDACBCDCDDCDEEBBEC
4,1.0,448.0,477.8,ADEEEEEBDCBBBBCAACCCEEEDDACCCDBDAACCACBACECDC
...,...,...,...,...
5513727,1.0,448.0,474.9,ACBCEAEAABBBCEBBABBCBBEDDCABCBBBBACBBDACAAECC
5513728,1.0,448.0,489.3,ABAAEEEBECBBBBCCDAEEBDDCDEBDDAAEBDCDDCBEDACDA
5513730,1.0,449.0,425.8,ECDEADBBDEEAAABEDEACAECECDCCCEAADABCADBDCEDBC
5513731,1.0,447.0,462.8,ECCBBBDCAEDABBECCCBBADCEDDCDBCAACAABBADDBADBC
5513732,1.0,447.0,486.2,BCDAABDCCBCBBCBADDDACCDEBACABDECABCBCACCDEAEB

In [47]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3905240 entries, 0 to 5513732
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   TP_PRESENCA_CN   float64
 1   CO_PROVA_CN      float64
 2   NU_NOTA_CN       float64
 3   TX_RESPOSTAS_CN  object
dtypes: float64(3), object(1)
memory usage: 149.0+ MB

## Remoção dos outros tipos de Prova:

In [48]:
dados['CO_PROVA_CN'].value_counts()

448.0    981496
449.0    974252
447.0    973429
450.0    973310
467.0      2052
463.0       546
Name: CO_PROVA_CN, dtype: int64

In [49]:
# Apagando outras provas:
dados = dados[dados['CO_PROVA_CN'] <= 450.0]

## Visualização - Resumo:

In [50]:
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
0,1.0,449.0,534.2,BABDABEECDBDCBCAAAEDCEDDEADADEACABEEBABCABADC
1,1.0,447.0,506.9,BADEBBDBDECBADCCDCEDAEDBBEDCABEAECABCAEEAEACE
2,1.0,449.0,470.6,CEEEEDBDACBBDADABCCCBDBBEBCEDEAACBACEEEBEBBEE
3,1.0,450.0,588.9,AAEBECBAEAECEBAABADCDBDCDBAEDACBCDCDDCDEEBBEC
4,1.0,448.0,477.8,ADEEEEEBDCBBBBCAACCCEEEDDACCCDBDAACCACBACECDC
...,...,...,...,...
5513727,1.0,448.0,474.9,ACBCEAEAABBBCEBBABBCBBEDDCABCBBBBACBBDACAAECC
5513728,1.0,448.0,489.3,ABAAEEEBECBBBBCCDAEEBDDCDEBDDAAEBDCDDCBEDACDA
5513730,1.0,449.0,425.8,ECDEADBBDEEAAABEDEACAECECDCCCEAADABCADBDCEDBC
5513731,1.0,447.0,462.8,ECCBBBDCAEDABBECCCBBADCEDDCDBCAACAABBADDBADBC
5513732,1.0,447.0,486.2,BCDAABDCCBCBBCBADDDACCDEBACABDECABCBCACCDEAEB

## Reset Index

In [51]:
'''o método reset_index() do objeto DataFrame do pandas para redefinir o índice das linhas do DataFrame dados.'''

dados.reset_index(drop=True, inplace=True)

## Remoção da coluna de presença:

In [52]:
dados.drop('TP_PRESENCA_CN', axis=1, inplace=True)
dados.head()

<ipython-input-52-816f6137eb09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.drop('TP_PRESENCA_CN', axis=1, inplace=True)

   CO_PROVA_CN  NU_NOTA_CN                                TX_RESPOSTAS_CN
0        449.0       534.2  BABDABEECDBDCBCAAAEDCEDDEADADEACABEEBABCABADC
1        447.0       506.9  BADEBBDBDECBADCCDCEDAEDBBEDCABEAECABCAEEAEACE
2        449.0       470.6  CEEEEDBDACBBDADABCCCBDBBEBCEDEAACBACEEEBEBBEE
3        450.0       588.9  AAEBECBAEAECEBAABADCDBDCDBAEDACBCDCDDCDEEBBEC
4        448.0       477.8  ADEEEEEBDCBBBBCAACCCEEEDDACCCDBDAACCACBACECDC

# Processamento:

## Separando as questões:

In [53]:
# Identificando a quantidade de quetões - Esse código é um exemplo de como criar uma lista com os valores de uma coluna específica de um DataFrame do pandas.
questoes = []

for i, gabarito in enumerate(list(dados['TX_RESPOSTAS_CN'].loc[0:])):
  questoes.append(gabarito)

## Listando as respostas:

In [54]:
# Construindo as listas de repostas
respostas = []

for i in range(45):
  respostas.append([aluno[i] for aluno in questoes])

## Renomeando as questões:

In [55]:
# Renomeando e preenchendo as Colunas do dicionario
for i in range(45):
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]

<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-55-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]

# Pré-processamento 2:

In [56]:
dados

,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN,q1,q2,q3,q4,q5,q6,q7,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,449.0,534.2,BABDABEECDBDCBCAAAEDCEDDEADADEACABEEBABCABADC,B,A,B,D,A,B,E,...,E,B,A,B,C,A,B,A,D,C
1,447.0,506.9,BADEBBDBDECBADCCDCEDAEDBBEDCABEAECABCAEEAEACE,B,A,D,E,B,B,D,...,B,C,A,E,E,A,E,A,C,E
2,449.0,470.6,CEEEEDBDACBBDADABCCCBDBBEBCEDEAACBACEEEBEBBEE,C,E,E,E,E,D,B,...,C,E,E,E,B,E,B,B,E,E
3,450.0,588.9,AAEBECBAEAECEBAABADCDBDCDBAEDACBCDCDDCDEEBBEC,A,A,E,B,E,C,B,...,D,D,C,D,E,E,B,B,E,C
4,448.0,477.8,ADEEEEEBDCBBBBCAACCCEEEDDACCCDBDAACCACBACECDC,A,D,E,E,E,E,E,...,C,A,C,B,A,C,E,C,D,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902482,448.0,474.9,ACBCEAEAABBBCEBBABBCBBEDDCABCBBBBACBBDACAAECC,A,C,B,C,E,A,E,...,B,B,D,A,C,A,A,E,C,C
3902483,448.0,489.3,ABAAEEEBECBBBBCCDAEEBDDCDEBDDAAEBDCDDCBEDACDA,A,B,A,A,E,E,E,...,D,D,C,B,E,D,A,C,D,A
3902484,449.0,425.8,ECDEADBBDEEAAABEDEACAECECDCCCEAADABCADBDCEDBC,E,C,D,E,A,D,B,...,C,A,D,B,D,C,E,D,B,C
3902485,447.0,462.8,ECCBBBDCAEDABBECCCBBADCEDDCDBCAACAABBADDBADBC,E,C,C,B,B,B,D,...,B,B,A,D,D,B,A,D,B,C
3902486,447.0,486.2,BCDAABDCCBCBBCBADDDACCDEBACABDECABCBCACCDEAEB,B,C,D,A,A,B,D,...,B,C,A,C,C,D,E,A,E,B

## Removendo coluna gabarito:

In [57]:
dados.drop('TX_RESPOSTAS_CN', axis=1, inplace=True)
dados

<ipython-input-57-ea43a6a9299b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.drop('TX_RESPOSTAS_CN', axis=1, inplace=True)

,CO_PROVA_CN,NU_NOTA_CN,q1,q2,q3,q4,q5,q6,q7,q8,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,449.0,534.2,B,A,B,D,A,B,E,E,...,E,B,A,B,C,A,B,A,D,C
1,447.0,506.9,B,A,D,E,B,B,D,B,...,B,C,A,E,E,A,E,A,C,E
2,449.0,470.6,C,E,E,E,E,D,B,D,...,C,E,E,E,B,E,B,B,E,E
3,450.0,588.9,A,A,E,B,E,C,B,A,...,D,D,C,D,E,E,B,B,E,C
4,448.0,477.8,A,D,E,E,E,E,E,B,...,C,A,C,B,A,C,E,C,D,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902482,448.0,474.9,A,C,B,C,E,A,E,A,...,B,B,D,A,C,A,A,E,C,C
3902483,448.0,489.3,A,B,A,A,E,E,E,B,...,D,D,C,B,E,D,A,C,D,A
3902484,449.0,425.8,E,C,D,E,A,D,B,B,...,C,A,D,B,D,C,E,D,B,C
3902485,447.0,462.8,E,C,C,B,B,B,D,C,...,B,B,A,D,D,B,A,D,B,C
3902486,447.0,486.2,B,C,D,A,A,B,D,C,...,B,C,A,C,C,D,E,A,E,B

## Separando os tipos de prova:

In [58]:
# Separação das provas por cor
enemAzul = dados[dados['CO_PROVA_CN'] == 447].reset_index(drop=True)
enemAmarela = dados[dados['CO_PROVA_CN'] == 448].reset_index(drop=True)
enemCinza = dados[dados['CO_PROVA_CN'] == 449].reset_index(drop=True)
enemRosa = dados[dados['CO_PROVA_CN'] == 450].reset_index(drop=True)

## Removendo o codigo da prova:

In [59]:
enemAmarela = enemAmarela.drop('CO_PROVA_CN', axis=1)
enemAmarela

,NU_NOTA_CN,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,477.8,A,D,E,E,E,E,E,B,D,...,C,A,C,B,A,C,E,C,D,C
1,469.4,D,E,C,E,B,E,C,B,D,...,D,B,D,B,E,A,A,C,C,E
2,500.5,E,C,B,D,D,C,B,B,B,...,B,C,C,D,E,D,E,C,A,E
3,497.2,E,B,A,C,A,E,C,D,E,...,A,C,A,E,C,A,A,D,D,E
4,384.4,A,D,B,E,A,B,E,E,D,...,C,B,D,C,D,B,E,D,B,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981491,404.8,E,A,B,B,D,E,E,C,D,...,D,A,E,C,B,B,A,A,D,D
981492,421.4,D,E,B,A,D,C,E,B,C,...,D,A,D,B,A,B,C,D,E,D
981493,483.8,E,A,B,D,E,D,C,D,B,...,D,D,D,D,D,D,D,D,D,D
981494,474.9,A,C,B,C,E,A,E,A,A,...,B,B,D,A,C,A,A,E,C,C
981495,489.3,A,B,A,A,E,E,E,B,E,...,D,D,C,B,E,D,A,C,D,A

## Renomeando a coluna "Nota":

In [60]:
enemAmarela = enemAmarela.rename(columns={'NU_NOTA_CN': 'nota'})

## Azul:

In [61]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q6': 'q1',
    'q7': 'q2',
    'q8': 'q3',
    'q9': 'q4',
    'q10': 'q5',
    'q39': 'q6',
    'q40': 'q7',
    'q41': 'q8',
    'q1': 'q9',
    'q2': 'q10',
    'q42': 'q11',
    'q43': 'q12',
    'q44': 'q13',
    'q45': 'q14',
    'q21': 'q15',
    'q22': 'q16',
    'q23': 'q17',
    'q24': 'q18',
    'q25': 'q19',
    'q18': 'q20',
    'q19': 'q21',
    'q20': 'q22',
    'q26': 'q23',
    'q27': 'q24',
    'q11': 'q25',
    'q12': 'q26',
    'q13': 'q27',
    'q14': 'q28',
    'q15': 'q29',
    'q16': 'q30',
    'q17': 'q31',
    'q28': 'q32',
    'q29': 'q33',
    'q30': 'q34',
    'q3':  'q35',
    'q4':  'q36',
    'q5':  'q37',
    'q35': 'q38',
    'q36': 'q39',
    'q37': 'q40',
    'q38': 'q41',
    'q31': 'q42',
    'q32': 'q43',
    'q33': 'q44',
    'q34': 'q45',
}

enemAzul = enemAzul.loc[:, list(col_mapping.keys())]
enemAzul = enemAzul.rename(columns=col_mapping).reset_index(drop=True)

In [62]:
enemAzul

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,506.9,B,D,B,D,E,E,E,A,B,...,E,B,A,B,C,A,E,A,E,C
1,415.9,E,A,B,B,A,E,E,A,D,...,B,B,C,E,C,B,A,B,A,D
2,577.5,C,C,B,C,E,E,B,B,A,...,E,C,A,A,E,A,A,C,E,E
3,494.8,E,C,B,E,C,D,E,E,E,...,D,D,A,B,B,A,A,A,B,E
4,489.6,A,D,A,E,E,E,B,E,A,...,B,C,A,B,D,D,A,A,B,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973424,396.3,E,A,B,E,E,E,A,D,E,...,D,E,E,D,A,A,A,E,E,E
973425,551.8,B,C,A,D,C,C,D,E,B,...,B,C,B,C,D,D,A,C,C,E
973426,392.6,E,B,D,D,A,C,E,E,A,...,C,A,C,B,D,A,A,A,C,C
973427,462.8,B,D,C,A,E,D,D,B,E,...,B,B,A,B,B,A,A,A,C,A
973428,486.2,B,D,C,C,B,C,C,D,B,...,A,A,C,B,C,A,E,C,A,B

## Cinza:

In [63]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q41': 'q1',
    'q42': 'q2',
    'q43': 'q3',
    'q44': 'q4',
    'q45': 'q5',
    'q1': 'q6',
    'q2': 'q7',
    'q3': 'q8',
    'q39': 'q9',
    'q40': 'q10',
    'q6': 'q11',
    'q7': 'q12',
    'q8': 'q13',
    'q9': 'q14',
    'q25': 'q15',
    'q26': 'q16',
    'q27': 'q17',
    'q28': 'q18',
    'q29': 'q19',
    'q22': 'q20',
    'q23': 'q21',
    'q24': 'q22',
    'q20': 'q23',
    'q21': 'q24',
    'q15': 'q25',
    'q16': 'q26',
    'q17': 'q27',
    'q18': 'q28',
    'q19': 'q29',
    'q13': 'q30',
    'q14': 'q31',
    'q30': 'q32',
    'q31': 'q33',
    'q32': 'q34',
    'q10': 'q35',
    'q11': 'q36',
    'q12':  'q37',
    'q33':  'q38',
    'q34':  'q39',
    'q4':  'q40',
    'q5': 'q41',
    'q35': 'q42',
    'q36': 'q43',
    'q37': 'q44',
    'q38': 'q45',
}

enemCinza = enemCinza.loc[:, list(col_mapping.keys())]
enemCinza = enemCinza.rename(columns=col_mapping).reset_index(drop=True)

In [64]:
enemCinza

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,534.2,A,B,A,D,C,B,A,B,B,...,B,D,A,B,D,A,E,E,B,A
1,470.6,E,B,B,E,E,C,E,E,E,...,B,B,C,B,E,E,A,C,E,E
2,531.8,C,C,B,D,E,A,A,E,A,...,D,D,E,B,E,B,B,D,C,A
3,504.5,A,D,A,C,D,C,C,A,A,...,D,B,A,E,E,A,B,B,D,C
4,567.9,A,C,B,C,E,E,E,B,D,...,E,D,D,B,A,A,A,C,B,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974247,446.8,A,B,C,D,E,B,C,B,E,...,A,A,D,D,B,A,D,C,D,B
974248,456.2,E,E,D,B,E,C,A,D,A,...,B,C,A,B,D,C,E,C,A,E
974249,476.2,E,A,A,D,B,D,E,B,D,...,E,E,C,D,B,E,A,E,B,E
974250,396.5,E,A,B,D,C,B,D,E,A,...,A,E,C,D,A,D,B,A,D,E
974251,425.8,C,E,D,B,C,E,C,D,B,...,E,A,D,A,E,A,B,C,A,D

## Rosa:

In [65]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q36': 'q1',
    'q37': 'q2',
    'q38': 'q3',
    'q39': 'q4',
    'q40': 'q5',
    'q43': 'q6',
    'q44': 'q7',
    'q45': 'q8',
    'q41': 'q9',
    'q42': 'q10',
    'q1': 'q11',
    'q2': 'q12',
    'q3': 'q13',
    'q4': 'q14',
    'q11': 'q15',
    'q12': 'q16',
    'q13': 'q17',
    'q14': 'q18',
    'q15': 'q19',
    'q28': 'q20',
    'q29': 'q21',
    'q30': 'q22',
    'q18': 'q23',
    'q19': 'q24',
    'q31': 'q25',
    'q32': 'q26',
    'q33': 'q27',
    'q34': 'q28',
    'q35': 'q29',
    'q26': 'q30',
    'q27': 'q31',
    'q20': 'q32',
    'q21': 'q33',
    'q22': 'q34',
    'q23': 'q35',
    'q24': 'q36',
    'q25':  'q37',
    'q16':  'q38',
    'q17':  'q39',
    'q9':  'q40',
    'q10': 'q41',
    'q5': 'q42',
    'q6': 'q43',
    'q7': 'q44',
    'q8': 'q45',
}

enemRosa = enemRosa.loc[:, list(col_mapping.keys())]
enemRosa = enemRosa.rename(columns=col_mapping).reset_index(drop=True)
enemRosa

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,588.9,D,D,C,D,E,B,E,C,E,...,C,D,A,B,E,A,E,C,B,A
1,518.5,E,C,B,D,B,E,C,A,C,...,D,A,C,B,E,A,E,B,C,A
2,601.7,D,C,A,C,E,A,C,B,E,...,D,D,C,B,E,C,E,A,C,C
3,428.3,E,C,B,C,A,B,E,D,D,...,B,B,E,D,A,C,A,C,C,C
4,428.5,E,C,D,E,A,C,D,E,B,...,B,A,C,C,A,A,A,C,A,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973305,433.8,E,B,B,D,C,E,C,C,D,...,C,A,C,B,A,E,A,C,A,D
973306,417.2,C,A,B,B,E,C,A,D,B,...,C,B,A,D,B,A,C,A,C,B
973307,464.1,A,A,A,E,B,C,C,D,A,...,E,A,B,C,A,A,A,A,B,E
973308,504.3,B,C,B,B,B,A,B,E,B,...,B,B,A,B,B,A,B,A,B,C
973309,462.7,B,A,B,D,A,B,C,C,D,...,B,A,A,E,E,A,B,C,C,D

# Processamento 2:

## Concatenando respostas|:

In [66]:
provaEnem = pd.concat([enemAmarela, enemAzul, enemCinza, enemRosa], ignore_index=True)
display(provaEnem)

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,477.8,A,D,E,E,E,E,E,B,D,...,C,A,C,B,A,C,E,C,D,C
1,469.4,D,E,C,E,B,E,C,B,D,...,D,B,D,B,E,A,A,C,C,E
2,500.5,E,C,B,D,D,C,B,B,B,...,B,C,C,D,E,D,E,C,A,E
3,497.2,E,B,A,C,A,E,C,D,E,...,A,C,A,E,C,A,A,D,D,E
4,384.4,A,D,B,E,A,B,E,E,D,...,C,B,D,C,D,B,E,D,B,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3902482,433.8,E,B,B,D,C,E,C,C,D,...,C,A,C,B,A,E,A,C,A,D
3902483,417.2,C,A,B,B,E,C,A,D,B,...,C,B,A,D,B,A,C,A,C,B
3902484,464.1,A,A,A,E,B,C,C,D,A,...,E,A,B,C,A,A,A,A,B,E
3902485,504.3,B,C,B,B,B,A,B,E,B,...,B,B,A,B,B,A,B,A,B,C
3902486,462.7,B,A,B,D,A,B,C,C,D,...,B,A,A,E,E,A,B,C,C,D

## Dados das respostas:

In [67]:
# lista com os nomes das colunas que vão ser plotadas
colunas = ['q' + str(i) for i in range(1, 46)]

# criar um DataFrame vazio para armazenar os resultados
resultado = pd.DataFrame()

# loop para iterar sobre as colunas e criar os gráficos
for coluna in colunas:
    # obter os valores de value_counts()
    valores = provaEnem[coluna].value_counts()
    porcentagens = provaEnem[coluna].value_counts(normalize=True)

    # adicionar os valores e porcentagens como colunas no DataFrame resultado
    #resultado[coluna + '_valores'] = valores
    resultado[coluna + '_porcentagens'] = porcentagens

# Ordenar as linhas em ordem alfabética pelas letras que representam as alternativas
resultado = resultado.sort_index()

# exibir o resultado final
resultado

,q1_porcentagens,q2_porcentagens,q3_porcentagens,q4_porcentagens,q5_porcentagens,q6_porcentagens,q7_porcentagens,q8_porcentagens,q9_porcentagens,q10_porcentagens,...,q36_porcentagens,q37_porcentagens,q38_porcentagens,q39_porcentagens,q40_porcentagens,q41_porcentagens,q42_porcentagens,q43_porcentagens,q44_porcentagens,q45_porcentagens
*,0.001033,0.000782,0.001194,0.001138,0.001085,0.001096,0.001075,0.001095,0.000696,0.000861,...,0.000994,0.000929,0.000897,0.000902,0.000907,0.001011,0.001023,0.001099,0.001030,0.001000
.,0.001088,0.001346,0.001226,0.001362,0.001238,0.001970,0.001718,0.001283,0.002203,0.002034,...,0.001280,0.001863,0.000997,0.001829,0.001814,0.001299,0.001202,0.001288,0.001161,0.001443
A,0.259277,0.202113,0.273508,0.151460,0.171274,0.238201,0.091140,0.166683,0.266574,0.142854,...,0.074888,0.203163,0.280935,0.097922,0.174080,0.287467,0.364996,0.257085,0.182904,0.220355
B,0.245031,0.131051,0.353712,0.127300,0.136366,0.151670,0.155375,0.323292,0.230148,0.307133,...,0.299111,0.305833,0.086034,0.409259,0.168209,0.240647,0.122842,0.109323,0.376449,0.107476
C,0.115556,0.464251,0.079380,0.255233,0.118253,0.196427,0.219176,0.119223,0.134385,0.271188,...,0.143553,0.157649,0.372160,0.154428,0.210016,0.125477,0.097902,0.330223,0.170815,0.164889
D,0.127067,0.107012,0.185318,0.213527,0.104094,0.119968,0.122144,0.176366,0.171227,0.223556,...,0.214100,0.233515,0.199557,0.138040,0.132767,0.280951,0.108939,0.099658,0.112547,0.155006
E,0.250946,0.093446,0.105661,0.249980,0.467689,0.290667,0.409372,0.212057,0.194767,0.052375,...,0.266074,0.097047,0.059422,0.197620,0.312205,0.063148,0.303095,0.201324,0.155094,0.349831

In [68]:
# Gabarito
gabarito = [ 'B', 'C', 'A', 'C', 'E', 'E', 'B', 'B', 'B', 'D', 'A', 'C', 'E', 'D', 'E', 'C', 'A', 'A', 'D', 'D', 'D', 'A', 'B', 'D', 'B', 'C', 'C', 'A', 'C', 'D', 'C', 'B', 'C', 'E', 'D', 'E', 'D', 'A', 'B', 'E', 'B', 'E', 'A', 'E', 'A'
]
# Criando um novo DataFrame com as porcentagens de acerto da questão baseado no gabarito
porcentagens_acerto = pd.DataFrame()

for questao, resposta in enumerate(gabarito, start=1):
    if resposta in resultado.index:
        porcentagens_acerto[f'q{questao}_acerto'] = [resultado.loc[resposta, f'q{questao}_porcentagens']]
    else:
        porcentagens_acerto[f'q{questao}_acerto'] = [0.0]  # Alternativa não encontrada, atribui 0.0

# Exibindo o resultado
porcentagens_acerto

,q1_acerto,q2_acerto,q3_acerto,q4_acerto,q5_acerto,q6_acerto,q7_acerto,q8_acerto,q9_acerto,q10_acerto,...,q36_acerto,q37_acerto,q38_acerto,q39_acerto,q40_acerto,q41_acerto,q42_acerto,q43_acerto,q44_acerto,q45_acerto
0,0.245031,0.464251,0.273508,0.255233,0.467689,0.290667,0.155375,0.323292,0.230148,0.223556,...,0.266074,0.233515,0.280935,0.409259,0.312205,0.240647,0.303095,0.257085,0.155094,0.220355

In [69]:
# Encontrar a coluna com o maior valor
coluna_maior_valor = porcentagens_acerto.idxmax(axis=1).iloc[0]

# Obter os rótulos das 5 colunas com os maiores valores
maiores_colunas = porcentagens_acerto.iloc[0].nlargest(6).index

# Selecionar as 5 colunas com os maiores valores
dataset_maiores_colunas = porcentagens_acerto[maiores_colunas]

print("Dataset com as 5 colunas que possuem os maiores valores:")
dataset_maiores_colunas

Dataset com as 5 colunas que possuem os maiores valores:

   q17_acerto  q5_acerto  q2_acerto  q19_acerto  q39_acerto  q24_acerto
0    0.507971   0.467689   0.464251     0.41394    0.409259     0.40665

In [70]:
# Encontrar a coluna com o maior valor
coluna_maior_valor = porcentagens_acerto.idxmax(axis=1).iloc[0]

# Obter os rótulos das 5 colunas com os maiores valores
menores_colunas = porcentagens_acerto.iloc[0].nsmallest(6).index

# Selecionar as 5 colunas com os maiores valores
dataset_menores_colunas = porcentagens_acerto[menores_colunas]

print("Dataset com as 5 colunas que possuem os menores_colunas:")
dataset_menores_colunas

Dataset com as 5 colunas que possuem os menores_colunas:

   q13_acerto  q23_acerto  q28_acerto  q26_acerto  q44_acerto  q7_acerto
0    0.108283    0.116924    0.130467    0.152414    0.155094   0.155375

# Salvando:

In [71]:
# salvar o resultado em um arquivo CSV com o nome personalizado

resultado.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"resultados_{amostra}")
porcentagens_acerto.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"Porcentagem_quests_{amostra}")
dataset_maiores_colunas.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"quest_easy_{amostra}")
dataset_menores_colunas.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"quest_hard_{amostra}")

print(f"O dataset foi salvo como resultados.")

O dataset foi salvo como resultados.