<a href="https://colab.research.google.com/github/Gus-1003/ENEM_2021-Data_analysis/blob/main/Conclus%C3%A3o/Sistema_Enem_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bibliotecas

In [1]:
# Biblioteca Pandas: usada para manipulação de dados em formato tabular, facilitando a análise e processamento desses dados;
import pandas as pd

# NumPy oferece operações matemáticas poderosas para arrays e matrizes;
import numpy as np

# A biblioteca Matplotlib é uma das mais usadas para visualização de dados, oferecendo diversas ferramentas e opções de plotagem;
import matplotlib.pyplot as plt

# A biblioteca Seaborn é construída em cima do Matplotlib, adicionando ainda mais recursos para criar gráficos mais sofisticados e visualmente atraentes.
import seaborn as sns

In [2]:
# importe da biblioteca drive do Google Colab, que é usada para fazer a conexão com o Google Drive.
from google.colab import drive

# o método mount() para montar o Google Drive na sessão atual do Colab. Isso significa que a sessão do Colab agora terá acesso aos arquivos armazenados no Google Drive.
drive.mount('/content/drive/')

''' comando %cd é usado para mudar o diretório atual para a pasta MyDrive dentro do Google Drive, para que os arquivos dentro dessa
pasta possam ser facilmente acessados pelo código em Python que será executado na sessão do Colab.'''

%cd /content/drive/MyDrive/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/MyDrive

# Leitura dataset:

In [3]:
microdados = '/content/drive/MyDrive/Pesquisa_Enem/Base de Dados/MICRODADOS_ENEM_2020.csv'

In [4]:
# Divide o caminho do arquivo e obtém o nome do frame
nome_completo = microdados.split('/')
nome = nome_completo[6].split('_')
amostra = nome[2]

print(microdados)
print(amostra)

/content/drive/MyDrive/Pesquisa_Enem/Base de Dados/MICRODADOS_ENEM_2020.csv
2020.csv

In [5]:
"""Para carregar os dados em Python, você pode usar a função read_csv() do pandas para carregar dados de um arquivo CSV,
ou outras funções semelhantes para carregar dados de outros tipos de arquivos:"""

dados = pd.read_csv(microdados, encoding='latin-1', delimiter=";", quotechar='"', usecols=['TP_PRESENCA_CN', 'CO_PROVA_CN','NU_NOTA_CN','TX_RESPOSTAS_CN'])
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
0,0,NaN,NaN,NaN
1,1,702.0,604.1,BCBDBDCCCDBDDBADEEACEEAECBECCDBCACDEBEECEBAAE
2,0,NaN,NaN,NaN
3,1,700.0,620.8,EBEDCCCDCBDBAECAECCECEACCBAABBBCEABCAAAEBEBAE
4,0,NaN,NaN,NaN
...,...,...,...,...
5783104,1,597.0,508.3,DDBCEDBCDACCCDCBDEADCCDAEEAECBEAEDBBEDBBEDABC
5783105,1,600.0,570.5,DCDACCBBCCEDDBADAACDDCEDCCCDEECCCCCCCCCCCCCCC
5783106,1,600.0,418.8,DBEACBCDEADBABCAACEABDCACDCADEAACABBDACAAAEEC
5783107,0,NaN,NaN,NaN
5783108,1,599.0,478.5,EEDCAEEAAECDBCDADBCBCCBDCBADBBECDDDDAEBAEDCDC

# Pré-processamento:

## Garantia da Presença:

In [6]:
'''O argumento index do método drop() é utilizado para remover as linhas que foram selecionadas, utilizando o atributo index do DataFrame resultante
da seleção: dados[dados.TP_PRESENCA_CN == 0].index.'''

# Apagando o registro dos alunos ausentes:
dados = dados.drop(index=dados[dados.TP_PRESENCA_CN == 0].index)

# Apagando o registro dos alunos eliminados:
dados = dados.drop(index=dados[dados.TP_PRESENCA_CN == 2].index)

dados.shape

(2597440, 4)

In [7]:
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
1,1,702.0,604.1,BCBDBDCCCDBDDBADEEACEEAECBECCDBCACDEBEECEBAAE
3,1,700.0,620.8,EBEDCCCDCBDBAECAECCECEACCBAABBBCEABCAAAEBEBAE
5,1,598.0,498.1,CABBEEACAEBEBCCDACBEDADDCCBECDCBDADDEBDBDACAB
7,1,699.0,604.6,CECACBBCADACADDEEBDBCBAEEEEBDADABDCEEDDCCDCBC
8,1,598.0,439.7,DABCDCAEDEDCBEDCDACDDAEBDCEECCDCEECDABDABECAC
...,...,...,...,...
5783103,1,597.0,547.3,DDBBECDDBDABCEDDCDAAECCDACACEBECADCACBDBEBCCB
5783104,1,597.0,508.3,DDBCEDBCDACCCDCBDEADCCDAEEAECBEAEDBBEDBBEDABC
5783105,1,600.0,570.5,DCDACCBBCCEDDBADAACDDCEDCCCDEECCCCCCCCCCCCCCC
5783106,1,600.0,418.8,DBEACBCDEADBABCAACEABDCACDCADEAACABBDACAAAEEC
5783108,1,599.0,478.5,EEDCAEEAAECDBCDADBCBCCBDCBADBBECDDDDAEBAEDCDC

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2597440 entries, 1 to 5783108
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   TP_PRESENCA_CN   int64
 1   CO_PROVA_CN      float64
 2   NU_NOTA_CN       float64
 3   TX_RESPOSTAS_CN  object
dtypes: float64(2), int64(1), object(1)
memory usage: 99.1+ MB

## Remoção dos outros tipos de Prova:

In [9]:
dados['CO_PROVA_CN'].value_counts()

600.0    632575
598.0    625032
599.0    624878
597.0    624708
677.0     15643
680.0     15582
679.0     15575
678.0     15506
702.0      6655
699.0      6645
701.0      6583
700.0      6538
605.0      1160
604.0       360
Name: CO_PROVA_CN, dtype: int64

In [10]:
# Apagando outras provas:
dados = dados[dados['CO_PROVA_CN'] >= 597.0]
dados = dados[dados['CO_PROVA_CN'] <= 600.0]

## Visualização - Resumo:

In [11]:
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
5,1,598.0,498.1,CABBEEACAEBEBCCDACBEDADDCCBECDCBDADDEBDBDACAB
8,1,598.0,439.7,DABCDCAEDEDCBEDCDACDDAEBDCEECCDCEECDABDABECAC
11,1,598.0,491.1,BAEACEDBACDDEDECEDCEDBCDECBAECDBEDADBCDACBDDC
18,1,597.0,422.4,BDCEDABCECACBDCBBDACECBBDAEACECABACACBCDEDAEE
19,1,600.0,486.0,DBEBBBCCDCBCAEBAEDCBDBDDADACDEABDADCDCCEDBBAD
...,...,...,...,...
5783103,1,597.0,547.3,DDBBECDDBDABCEDDCDAAECCDACACEBECADCACBDBEBCCB
5783104,1,597.0,508.3,DDBCEDBCDACCCDCBDEADCCDAEEAECBEAEDBBEDBBEDABC
5783105,1,600.0,570.5,DCDACCBBCCEDDBADAACDDCEDCCCDEECCCCCCCCCCCCCCC
5783106,1,600.0,418.8,DBEACBCDEADBABCAACEABDCACDCADEAACABBDACAAAEEC
5783108,1,599.0,478.5,EEDCAEEAAECDBCDADBCBCCBDCBADBBECDDDDAEBAEDCDC

## Reset Index

In [12]:
'''o método reset_index() do objeto DataFrame do pandas para redefinir o índice das linhas do DataFrame dados.'''

dados.reset_index(drop=True, inplace=True)

## Remoção da coluna de presença:

In [13]:
dados.drop('TP_PRESENCA_CN', axis=1, inplace=True)
dados.head()

   CO_PROVA_CN  NU_NOTA_CN                                TX_RESPOSTAS_CN
0        598.0       498.1  CABBEEACAEBEBCCDACBEDADDCCBECDCBDADDEBDBDACAB
1        598.0       439.7  DABCDCAEDEDCBEDCDACDDAEBDCEECCDCEECDABDABECAC
2        598.0       491.1  BAEACEDBACDDEDECEDCEDBCDECBAECDBEDADBCDACBDDC
3        597.0       422.4  BDCEDABCECACBDCBBDACECBBDAEACECABACACBCDEDAEE
4        600.0       486.0  DBEBBBCCDCBCAEBAEDCBDBDDADACDEABDADCDCCEDBBAD

# Processamento:

## Separando as questões:

In [14]:
# Identificando a quantidade de quetões - Esse código é um exemplo de como criar uma lista com os valores de uma coluna específica de um DataFrame do pandas.
questoes = []

for i, gabarito in enumerate(list(dados['TX_RESPOSTAS_CN'].loc[0:])):
  questoes.append(gabarito)

## Listando as respostas:

In [15]:
# Construindo as listas de repostas
respostas = []

for i in range(45):
  respostas.append([aluno[i] for aluno in questoes])

## Renomeando as questões:

In [16]:
# Renomeando e preenchendo as Colunas do dicionario
for i in range(45):
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]

# Pré-processamento 2:

In [17]:
dados

,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN,q1,q2,q3,q4,q5,q6,q7,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,598.0,498.1,CABBEEACAEBEBCCDACBEDADDCCBECDCBDADDEBDBDACAB,C,A,B,B,E,E,A,...,D,E,B,D,B,D,A,C,A,B
1,598.0,439.7,DABCDCAEDEDCBEDCDACDDAEBDCEECCDCEECDABDABECAC,D,A,B,C,D,C,A,...,D,A,B,D,A,B,E,C,A,C
2,598.0,491.1,BAEACEDBACDDEDECEDCEDBCDECBAECDBEDADBCDACBDDC,B,A,E,A,C,E,D,...,D,B,C,D,A,C,B,D,D,C
3,597.0,422.4,BDCEDABCECACBDCBBDACECBBDAEACECABACACBCDEDAEE,B,D,C,E,D,A,B,...,A,C,B,C,D,E,D,A,E,E
4,600.0,486.0,DBEBBBCCDCBCAEBAEDCBDBDDADACDEABDADCDCCEDBBAD,D,B,E,B,B,B,C,...,C,D,C,C,E,D,B,B,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507188,597.0,547.3,DDBBECDDBDABCEDDCDAAECCDACACEBECADCACBDBEBCCB,D,D,B,B,E,C,D,...,A,C,B,D,B,E,B,C,C,B
2507189,597.0,508.3,DDBCEDBCDACCCDCBDEADCCDAEEAECBEAEDBBEDBBEDABC,D,D,B,C,E,D,B,...,B,E,D,B,B,E,D,A,B,C
2507190,600.0,570.5,DCDACCBBCCEDDBADAACDDCEDCCCDEECCCCCCCCCCCCCCC,D,C,D,A,C,C,B,...,C,C,C,C,C,C,C,C,C,C
2507191,600.0,418.8,DBEACBCDEADBABCAACEABDCACDCADEAACABBDACAAAEEC,D,B,E,A,C,B,C,...,B,D,A,C,A,A,A,E,E,C
2507192,599.0,478.5,EEDCAEEAAECDBCDADBCBCCBDCBADBBECDDDDAEBAEDCDC,E,E,D,C,A,E,E,...,D,A,E,B,A,E,D,C,D,C

## Removendo coluna gabarito:

In [18]:
dados.drop('TX_RESPOSTAS_CN', axis=1, inplace=True)
dados

,CO_PROVA_CN,NU_NOTA_CN,q1,q2,q3,q4,q5,q6,q7,q8,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,598.0,498.1,C,A,B,B,E,E,A,C,...,D,E,B,D,B,D,A,C,A,B
1,598.0,439.7,D,A,B,C,D,C,A,E,...,D,A,B,D,A,B,E,C,A,C
2,598.0,491.1,B,A,E,A,C,E,D,B,...,D,B,C,D,A,C,B,D,D,C
3,597.0,422.4,B,D,C,E,D,A,B,C,...,A,C,B,C,D,E,D,A,E,E
4,600.0,486.0,D,B,E,B,B,B,C,C,...,C,D,C,C,E,D,B,B,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507188,597.0,547.3,D,D,B,B,E,C,D,D,...,A,C,B,D,B,E,B,C,C,B
2507189,597.0,508.3,D,D,B,C,E,D,B,C,...,B,E,D,B,B,E,D,A,B,C
2507190,600.0,570.5,D,C,D,A,C,C,B,B,...,C,C,C,C,C,C,C,C,C,C
2507191,600.0,418.8,D,B,E,A,C,B,C,D,...,B,D,A,C,A,A,A,E,E,C
2507192,599.0,478.5,E,E,D,C,A,E,E,A,...,D,A,E,B,A,E,D,C,D,C

## Separando os tipos de prova:

In [19]:
# Separação das provas por cor
enemAzul = dados[dados['CO_PROVA_CN'] == 597].reset_index(drop=True)
enemAmarela = dados[dados['CO_PROVA_CN'] == 598].reset_index(drop=True)
enemCinza = dados[dados['CO_PROVA_CN'] == 599].reset_index(drop=True)
enemRosa = dados[dados['CO_PROVA_CN'] == 600].reset_index(drop=True)

## Removendo o codigo da prova:

In [20]:
enemAmarela = enemAmarela.drop('CO_PROVA_CN', axis=1)
enemAmarela

,NU_NOTA_CN,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,498.1,C,A,B,B,E,E,A,C,A,...,D,E,B,D,B,D,A,C,A,B
1,439.7,D,A,B,C,D,C,A,E,D,...,D,A,B,D,A,B,E,C,A,C
2,491.1,B,A,E,A,C,E,D,B,A,...,D,B,C,D,A,C,B,D,D,C
3,535.8,C,A,E,A,A,C,A,C,A,...,D,E,C,A,C,A,C,B,D,C
4,459.3,D,E,E,C,D,D,A,B,A,...,D,E,C,D,C,A,C,C,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625027,597.4,C,A,D,D,D,E,D,C,A,...,D,C,B,D,B,A,E,E,E,C
625028,581.5,E,A,E,E,A,D,D,E,A,...,D,A,D,D,C,B,E,D,B,D
625029,438.6,C,E,C,B,E,D,C,A,C,...,C,C,D,D,E,D,C,D,C,B
625030,669.4,C,E,D,B,D,B,D,C,A,...,C,A,E,B,B,E,E,E,C,D
625031,457.9,E,E,E,E,E,D,D,C,E,...,D,E,B,A,A,B,E,B,A,B

## Renomeando a coluna "Nota":

In [21]:
enemAmarela = enemAmarela.rename(columns={'NU_NOTA_CN': 'nota'})

## Azul:

In [22]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q18': 'q1',
    'q19': 'q2',
    'q20': 'q3',
    'q21': 'q4',
    'q22': 'q5',
    'q26': 'q6',
    'q27': 'q7',
    'q28': 'q8',
    'q36': 'q9',
    'q37': 'q10',
    'q38': 'q11',
    'q39': 'q12',
    'q12': 'q13',
    'q13': 'q14',
    'q14': 'q15',
    'q3':  'q16',
    'q4':  'q17',
    'q23': 'q18',
    'q24': 'q19',
    'q25': 'q20',
    'q42': 'q21',
    'q43': 'q22',
    'q44': 'q23',
    'q45': 'q24',
    'q29': 'q25',
    'q30': 'q26',
    'q31': 'q27',
    'q32': 'q28',
    'q33': 'q29',
    'q34': 'q30',
    'q35': 'q31',
    'q9':  'q32',
    'q10': 'q33',
    'q11': 'q34',
    'q1':  'q35',
    'q2':  'q36',
    'q5':  'q37',
    'q6':  'q38',
    'q7':  'q39',
    'q8':  'q40',
    'q40': 'q41',
    'q41': 'q42',
    'q15': 'q43',
    'q16': 'q44',
    'q17': 'q45',
}

enemAzul = enemAzul.loc[:, list(col_mapping.keys())]
enemAzul = enemAzul.rename(columns=col_mapping).reset_index(drop=True)

In [23]:
enemAzul

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,422.4,D,A,C,E,C,A,E,A,A,...,D,D,A,B,C,D,E,C,B,B
1,469.9,D,A,E,B,D,B,C,E,D,...,C,A,D,D,D,B,B,D,A,C
2,471.5,D,A,D,B,C,B,D,E,A,...,B,A,D,C,C,D,C,D,D,C
3,573.3,C,A,D,C,E,D,D,C,A,...,D,C,A,D,C,D,E,D,B,C
4,439.6,A,A,B,B,A,E,A,D,C,...,D,A,A,E,B,C,D,C,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624703,468.4,D,A,B,A,A,D,C,C,D,...,D,C,C,E,B,A,B,C,D,B
624704,532.3,E,A,E,B,B,C,A,C,A,...,D,A,B,A,D,B,B,D,B,C
624705,377.6,E,A,E,B,E,A,B,B,E,...,C,A,D,E,C,C,A,A,B,D
624706,547.3,D,A,A,E,C,C,A,C,A,...,D,E,C,D,D,B,E,D,D,C
624707,508.3,E,A,D,C,C,E,A,E,B,...,D,E,D,B,C,B,E,C,B,D

## Cinza:

In [24]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q15': 'q1',
    'q16': 'q2',
    'q17': 'q3',
    'q18': 'q4',
    'q19': 'q5',
    'q5': 'q6',
    'q6': 'q7',
    'q7': 'q8',
    'q42': 'q9',
    'q43': 'q10',
    'q44': 'q11',
    'q45': 'q12',
    'q20': 'q13',
    'q21': 'q14',
    'q22': 'q15',
    'q40': 'q16',
    'q41': 'q17',
    'q33': 'q18',
    'q34': 'q19',
    'q35': 'q20',
    'q36': 'q21',
    'q37': 'q22',
    'q38': 'q23',
    'q39': 'q24',
    'q8': 'q25',
    'q9': 'q26',
    'q10': 'q27',
    'q11': 'q28',
    'q12': 'q29',
    'q13': 'q30',
    'q14': 'q31',
    'q23': 'q32',
    'q24': 'q33',
    'q25': 'q34',
    'q31': 'q35',
    'q32': 'q36',
    'q1':  'q37',
    'q2':  'q38',
    'q3':  'q39',
    'q4':  'q40',
    'q26': 'q41',
    'q27': 'q42',
    'q28': 'q43',
    'q29': 'q44',
    'q30': 'q45',
}

enemCinza = enemCinza.loc[:, list(col_mapping.keys())]
enemCinza = enemCinza.rename(columns=col_mapping).reset_index(drop=True)

In [25]:
enemCinza

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,394.4,C,A,E,B,D,A,A,C,E,...,C,B,A,B,D,D,C,C,D,A
1,641.3,C,A,D,B,B,E,D,C,A,...,D,C,E,D,C,A,E,D,E,E
2,379.8,E,A,B,A,B,C,E,B,A,...,D,A,C,B,E,B,A,E,A,D
3,599.7,C,A,E,D,E,C,D,C,B,...,D,C,E,D,B,E,E,C,A,D
4,437.2,D,A,C,B,C,A,C,C,C,...,D,E,C,C,B,D,B,C,D,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624873,560.9,C,A,E,B,D,E,D,C,C,...,C,A,D,B,B,E,E,E,A,D
624874,570.0,C,A,E,E,E,E,A,A,C,...,D,E,C,D,D,E,E,C,E,B
624875,478.8,C,A,E,C,A,E,C,E,C,...,D,B,C,B,D,A,E,B,B,C
624876,393.8,C,A,D,B,C,D,E,C,A,...,C,A,D,C,B,D,B,C,D,B
624877,478.5,D,A,D,B,C,A,E,E,D,...,C,E,E,D,C,B,A,D,B,B

## Rosa:

In [26]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q39': 'q1',
    'q40': 'q2',
    'q41': 'q3',
    'q42': 'q4',
    'q43': 'q5',
    'q33': 'q6',
    'q34': 'q7',
    'q35': 'q8',
    'q18': 'q9',
    'q19': 'q10',
    'q20': 'q11',
    'q21': 'q12',
    'q30': 'q13',
    'q31': 'q14',
    'q32': 'q15',
    'q10': 'q16',
    'q11': 'q17',
    'q12': 'q18',
    'q13': 'q19',
    'q14': 'q20',
    'q1': 'q21',
    'q2': 'q22',
    'q3': 'q23',
    'q4': 'q24',
    'q15': 'q25',
    'q16': 'q26',
    'q17': 'q27',
    'q22': 'q28',
    'q23': 'q29',
    'q24': 'q30',
    'q25': 'q31',
    'q36': 'q32',
    'q37': 'q33',
    'q38': 'q34',
    'q44': 'q35',
    'q45': 'q36',
    'q26':  'q37',
    'q27':  'q38',
    'q28':  'q39',
    'q29':  'q40',
    'q8': 'q41',
    'q9': 'q42',
    'q5': 'q43',
    'q6': 'q44',
    'q7': 'q45',
}

enemRosa = enemRosa.loc[:, list(col_mapping.keys())]
enemRosa = enemRosa.rename(columns=col_mapping).reset_index(drop=True)
enemRosa

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,486.0,C,E,D,B,B,D,A,D,D,...,D,D,A,C,D,C,D,B,B,C
1,660.6,C,A,D,B,D,D,D,B,A,...,D,C,C,D,D,D,E,D,D,C
2,488.0,E,A,A,B,E,E,A,D,E,...,D,C,A,C,C,A,C,C,A,E
3,545.6,D,E,E,B,D,C,E,C,E,...,D,C,E,D,C,E,D,D,D,C
4,378.1,C,A,B,E,C,C,A,E,D,...,A,A,A,C,B,B,D,C,A,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632570,534.3,E,E,A,B,D,D,C,E,C,...,D,E,C,D,D,C,D,C,E,B
632571,654.3,C,E,E,B,D,D,D,C,A,...,D,D,B,D,D,E,D,C,C,A
632572,482.2,B,C,D,A,D,B,B,D,A,...,A,B,C,A,E,A,C,D,B,C
632573,570.5,C,C,C,C,C,C,C,C,A,...,C,C,C,D,E,B,C,C,C,B
632574,418.8,C,A,A,A,E,C,A,B,C,...,C,D,C,A,D,D,E,C,B,C

# Processamento 2:

## Concatenando respostas|:

In [27]:
provaEnem = pd.concat([enemAmarela, enemAzul, enemCinza, enemRosa], ignore_index=True)
display(provaEnem)

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,498.1,C,A,B,B,E,E,A,C,A,...,D,E,B,D,B,D,A,C,A,B
1,439.7,D,A,B,C,D,C,A,E,D,...,D,A,B,D,A,B,E,C,A,C
2,491.1,B,A,E,A,C,E,D,B,A,...,D,B,C,D,A,C,B,D,D,C
3,535.8,C,A,E,A,A,C,A,C,A,...,D,E,C,A,C,A,C,B,D,C
4,459.3,D,E,E,C,D,D,A,B,A,...,D,E,C,D,C,A,C,C,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507188,534.3,E,E,A,B,D,D,C,E,C,...,D,E,C,D,D,C,D,C,E,B
2507189,654.3,C,E,E,B,D,D,D,C,A,...,D,D,B,D,D,E,D,C,C,A
2507190,482.2,B,C,D,A,D,B,B,D,A,...,A,B,C,A,E,A,C,D,B,C
2507191,570.5,C,C,C,C,C,C,C,C,A,...,C,C,C,D,E,B,C,C,C,B
2507192,418.8,C,A,A,A,E,C,A,B,C,...,C,D,C,A,D,D,E,C,B,C

## Dados das respostas:

In [28]:
# lista com os nomes das colunas que vão ser plotadas
colunas = ['q' + str(i) for i in range(1, 46)]

# criar um DataFrame vazio para armazenar os resultados
resultado = pd.DataFrame()

# loop para iterar sobre as colunas e criar os gráficos
for coluna in colunas:
    # obter os valores de value_counts()
    valores = provaEnem[coluna].value_counts()
    porcentagens = provaEnem[coluna].value_counts(normalize=True)

    # adicionar os valores e porcentagens como colunas no DataFrame resultado
    #resultado[coluna + '_valores'] = valores
    resultado[coluna + '_porcentagens'] = porcentagens

# exibir o resultado final
resultado

,q1_porcentagens,q2_porcentagens,q3_porcentagens,q4_porcentagens,q5_porcentagens,q6_porcentagens,q7_porcentagens,q8_porcentagens,q9_porcentagens,q10_porcentagens,...,q36_porcentagens,q37_porcentagens,q38_porcentagens,q39_porcentagens,q40_porcentagens,q41_porcentagens,q42_porcentagens,q43_porcentagens,q44_porcentagens,q45_porcentagens
C,0.336072,0.048385,0.193991,0.127591,0.168922,0.205833,0.297622,0.410721,0.202331,0.403084,...,0.271542,0.231582,0.218313,0.251500,0.248729,0.144172,0.302016,0.417645,0.243015,0.394864
D,0.261944,0.024012,0.188420,0.087357,0.384206,0.206499,0.192757,0.187308,0.082752,0.036730,...,0.572628,0.093499,0.253242,0.380422,0.223678,0.258350,0.132824,0.298234,0.154739,0.215500
E,0.226156,0.196041,0.310377,0.185927,0.162824,0.263700,0.088475,0.109798,0.161294,0.389899,...,0.035524,0.234120,0.139576,0.129172,0.081832,0.191497,0.273084,0.110212,0.125191,0.107046
A,0.086699,0.655996,0.135936,0.207430,0.141062,0.159217,0.357629,0.124988,0.318742,0.071969,...,0.083338,0.245895,0.165400,0.094718,0.169241,0.212972,0.122818,0.085453,0.266702,0.092170
B,0.086675,0.073274,0.168587,0.389229,0.140327,0.160638,0.061379,0.164951,0.232372,0.095682,...,0.035257,0.192581,0.219330,0.141830,0.273348,0.190683,0.165993,0.085829,0.206631,0.187375
.,0.001653,0.000787,0.001364,0.001085,0.001398,0.003131,0.000820,0.001241,0.001276,0.000944,...,0.000943,0.001029,0.003157,0.001139,0.002098,0.001281,0.002127,0.001447,0.002345,0.002266
*,0.000802,0.001504,0.001326,0.001380,0.001261,0.000980,0.001319,0.000993,0.001234,0.001692,...,0.000767,0.001294,0.000982,0.001219,0.001073,0.001045,0.001138,0.001180,0.001378,0.000779

# Salvando:

In [29]:
# salvar o resultado em um arquivo CSV com o nome personalizado
nome_arquivo = f"resultados_{amostra}"
resultado.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + nome_arquivo)

print(f"O dataset foi salvo como {nome_arquivo}.")

O dataset foi salvo como resultados_2020.csv.