<a href="https://colab.research.google.com/github/Gus-1003/ENEM_2021-Data_analysis/blob/main/Conclus%C3%A3o/Sistema_Enem_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bibliotecas

In [1]:
# Biblioteca Pandas: usada para manipulação de dados em formato tabular, facilitando a análise e processamento desses dados;
import pandas as pd

# NumPy oferece operações matemáticas poderosas para arrays e matrizes;
import numpy as np

# A biblioteca Matplotlib é uma das mais usadas para visualização de dados, oferecendo diversas ferramentas e opções de plotagem;
import matplotlib.pyplot as plt

# A biblioteca Seaborn é construída em cima do Matplotlib, adicionando ainda mais recursos para criar gráficos mais sofisticados e visualmente atraentes.
import seaborn as sns

In [2]:
# importe da biblioteca drive do Google Colab, que é usada para fazer a conexão com o Google Drive.
from google.colab import drive

# o método mount() para montar o Google Drive na sessão atual do Colab. Isso significa que a sessão do Colab agora terá acesso aos arquivos armazenados no Google Drive.
drive.mount('/content/drive/')

''' comando %cd é usado para mudar o diretório atual para a pasta MyDrive dentro do Google Drive, para que os arquivos dentro dessa
pasta possam ser facilmente acessados pelo código em Python que será executado na sessão do Colab.'''

%cd /content/drive/MyDrive/

Mounted at /content/drive/
/content/drive/MyDrive

# Leitura dataset:

In [3]:
microdados = '/content/drive/MyDrive/Pesquisa_Enem/Base de Dados/MICRODADOS_ENEM_2022.csv'

In [4]:
# Divide o caminho do arquivo e obtém o nome do frame
nome_completo = microdados.split('/')
nome = nome_completo[6].split('_')
amostra = nome[2]

print(microdados)
print(amostra)

/content/drive/MyDrive/Pesquisa_Enem/Base de Dados/MICRODADOS_ENEM_2022.csv
2022.csv

In [5]:
"""Para carregar os dados em Python, você pode usar a função read_csv() do pandas para carregar dados de um arquivo CSV,
ou outras funções semelhantes para carregar dados de outros tipos de arquivos:"""

dados = pd.read_csv(microdados, encoding='latin-1', delimiter=";", quotechar='"', usecols=['TP_PRESENCA_CN', 'CO_PROVA_CN','NU_NOTA_CN','TX_RESPOSTAS_CN'])
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
0,0,NaN,NaN,NaN
1,0,NaN,NaN,NaN
2,1,1087.0,421.1,DCDCEBADDABEDBCBEAEACCDDECEEBECBECAAECDDDDBCE
3,1,1088.0,490.7,BACBBABBCAABCABBCBACBCBCBACABACABCBDBCBABAACA
4,0,NaN,NaN,NaN
...,...,...,...,...
3476100,0,NaN,NaN,NaN
3476101,0,NaN,NaN,NaN
3476102,1,1085.0,527.9,ACEBBDCEDEDBBEACCBEECBBEDCBCDDCABEDBAEECCBAAD
3476103,0,NaN,NaN,NaN
3476104,0,NaN,NaN,NaN

# Pré-processamento:

## Garantia da Presença:

In [6]:
'''O argumento index do método drop() é utilizado para remover as linhas que foram selecionadas, utilizando o atributo index do DataFrame resultante
da seleção: dados[dados.TP_PRESENCA_CN == 0].index.'''

# Apagando o registro dos alunos ausentes:
dados = dados.drop(index=dados[dados.TP_PRESENCA_CN == 0].index)

# Apagando o registro dos alunos eliminados:
dados = dados.drop(index=dados[dados.TP_PRESENCA_CN == 2].index)

dados.shape

(2355395, 4)

In [7]:
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
2,1,1087.0,421.1,DCDCEBADDABEDBCBEAEACCDDECEEBECBECAAECDDDDBCE
3,1,1088.0,490.7,BACBBABBCAABCABBCBACBCBCBACABACABCBDBCBABAACA
7,1,1086.0,398.1,CBCCDBCACACABBDAEACBCBBCBCBABBBBDDCBCCCACACDB
9,1,1087.0,467.5,ACEAACADAEBADDCCACACBBCDEDEDABDBDAACBCBBDCACB
11,1,1086.0,458.7,DDDDDBCDDDBDDADDDDDDDDDADDDBDDCDDDDDDDDDDEDDD
...,...,...,...,...
3476095,1,1085.0,444.5,DACEABDCABABDEDDABACBAABBCEBEDABABCDBDBCEACBE
3476097,1,1088.0,536.1,DAECBDDECAEDCBEEABCBCABCCAAADEDDDEECABEBCABCB
3476098,1,1086.0,487.6,AACECDCCBECABABBABCABACCCACABCBCCCAEDCCCDADAD
3476099,1,1087.0,512.5,DAACCBEDEBAABCBCCABCCDDBECAEADBEEADBB*DABCECD
3476102,1,1085.0,527.9,ACEBBDCEDEDBBEACCBEECBBEDCBCDDCABEDBAEECCBAAD

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2355395 entries, 2 to 3476102
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   TP_PRESENCA_CN   int64
 1   CO_PROVA_CN      float64
 2   NU_NOTA_CN       float64
 3   TX_RESPOSTAS_CN  object
dtypes: float64(2), int64(1), object(1)
memory usage: 89.9+ MB

## Remoção dos outros tipos de Prova:

In [9]:
dados['CO_PROVA_CN'].value_counts()

1087.0    586191
1085.0    578780
1088.0    578711
1086.0    578696
1189.0      7502
1187.0      7425
1190.0      7367
1188.0      7348
1093.0       949
1167.0       540
1166.0       533
1165.0       513
1168.0       501
1092.0       339
Name: CO_PROVA_CN, dtype: int64

In [10]:
# Apagando outras provas:
dados = dados[dados['CO_PROVA_CN'] <= 1088.0]

## Visualização - Resumo:

In [11]:
dados

,TP_PRESENCA_CN,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN
2,1,1087.0,421.1,DCDCEBADDABEDBCBEAEACCDDECEEBECBECAAECDDDDBCE
3,1,1088.0,490.7,BACBBABBCAABCABBCBACBCBCBACABACABCBDBCBABAACA
7,1,1086.0,398.1,CBCCDBCACACABBDAEACBCBBCBCBABBBBDDCBCCCACACDB
9,1,1087.0,467.5,ACEAACADAEBADDCCACACBBCDEDEDABDBDAACBCBBDCACB
11,1,1086.0,458.7,DDDDDBCDDDBDDADDDDDDDDDADDDBDDCDDDDDDDDDDEDDD
...,...,...,...,...
3476095,1,1085.0,444.5,DACEABDCABABDEDDABACBAABBCEBEDABABCDBDBCEACBE
3476097,1,1088.0,536.1,DAECBDDECAEDCBEEABCBCABCCAAADEDDDEECABEBCABCB
3476098,1,1086.0,487.6,AACECDCCBECABABBABCABACCCACABCBCCCAEDCCCDADAD
3476099,1,1087.0,512.5,DAACCBEDEBAABCBCCABCCDDBECAEADBEEADBB*DABCECD
3476102,1,1085.0,527.9,ACEBBDCEDEDBBEACCBEECBBEDCBCDDCABEDBAEECCBAAD

## Reset Index

In [12]:
'''o método reset_index() do objeto DataFrame do pandas para redefinir o índice das linhas do DataFrame dados.'''

dados.reset_index(drop=True, inplace=True)

## Remoção da coluna de presença:

In [13]:
dados.drop('TP_PRESENCA_CN', axis=1, inplace=True)
dados.head()

<ipython-input-13-816f6137eb09>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.drop('TP_PRESENCA_CN', axis=1, inplace=True)

   CO_PROVA_CN  NU_NOTA_CN                                TX_RESPOSTAS_CN
0       1087.0       421.1  DCDCEBADDABEDBCBEAEACCDDECEEBECBECAAECDDDDBCE
1       1088.0       490.7  BACBBABBCAABCABBCBACBCBCBACABACABCBDBCBABAACA
2       1086.0       398.1  CBCCDBCACACABBDAEACBCBBCBCBABBBBDDCBCCCACACDB
3       1087.0       467.5  ACEAACADAEBADDCCACACBBCDEDEDABDBDAACBCBBDCACB
4       1086.0       458.7  DDDDDBCDDDBDDADDDDDDDDDADDDBDDCDDDDDDDDDDEDDD

# Processamento:

## Separando as questões:

In [14]:
# Identificando a quantidade de quetões - Esse código é um exemplo de como criar uma lista com os valores de uma coluna específica de um DataFrame do pandas.
questoes = []

for i, gabarito in enumerate(list(dados['TX_RESPOSTAS_CN'].loc[0:])):
  questoes.append(gabarito)

## Listando as respostas:

In [15]:
# Construindo as listas de repostas
respostas = []

for i in range(45):
  respostas.append([aluno[i] for aluno in questoes])

## Renomeando as questões:

In [16]:
# Renomeando e preenchendo as Colunas do dicionario
for i in range(45):
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]

<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]
<ipython-input-16-96a5b7f95fb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.loc[:, 'q' + str(i + 1)] = respostas[i]

# Pré-processamento 2:

In [17]:
dados

,CO_PROVA_CN,NU_NOTA_CN,TX_RESPOSTAS_CN,q1,q2,q3,q4,q5,q6,q7,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,1087.0,421.1,DCDCEBADDABEDBCBEAEACCDDECEEBECBECAAECDDDDBCE,D,C,D,C,E,B,A,...,A,E,C,D,D,D,D,B,C,E
1,1088.0,490.7,BACBBABBCAABCABBCBACBCBCBACABACABCBDBCBABAACA,B,A,C,B,B,A,B,...,D,B,C,B,A,B,A,A,C,A
2,1086.0,398.1,CBCCDBCACACABBDAEACBCBBCBCBABBBBDDCBCCCACACDB,C,B,C,C,D,B,C,...,B,C,C,C,A,C,A,C,D,B
3,1087.0,467.5,ACEAACADAEBADDCCACACBBCDEDEDABDBDAACBCBBDCACB,A,C,E,A,A,C,A,...,C,B,C,B,B,D,C,A,C,B
4,1086.0,458.7,DDDDDBCDDDBDDADDDDDDDDDADDDBDDCDDDDDDDDDDEDDD,D,D,D,D,D,B,C,...,D,D,D,D,D,D,E,D,D,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322373,1085.0,444.5,DACEABDCABABDEDDABACBAABBCEBEDABABCDBDBCEACBE,D,A,C,E,A,B,D,...,D,B,D,B,C,E,A,C,B,E
2322374,1088.0,536.1,DAECBDDECAEDCBEEABCBCABCCAAADEDDDEECABEBCABCB,D,A,E,C,B,D,D,...,C,A,B,E,B,C,A,B,C,B
2322375,1086.0,487.6,AACECDCCBECABABBABCABACCCACABCBCCCAEDCCCDADAD,A,A,C,E,C,D,C,...,E,D,C,C,C,D,A,D,A,D
2322376,1087.0,512.5,DAACCBEDEBAABCBCCABCCDDBECAEADBEEADBB*DABCECD,D,A,A,C,C,B,E,...,B,B,*,D,A,B,C,E,C,D
2322377,1085.0,527.9,ACEBBDCEDEDBBEACCBEECBBEDCBCDDCABEDBAEECCBAAD,A,C,E,B,B,D,C,...,B,A,E,E,C,C,B,A,A,D

## Removendo coluna gabarito:

In [18]:
dados.drop('TX_RESPOSTAS_CN', axis=1, inplace=True)
dados

<ipython-input-18-ea43a6a9299b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados.drop('TX_RESPOSTAS_CN', axis=1, inplace=True)

,CO_PROVA_CN,NU_NOTA_CN,q1,q2,q3,q4,q5,q6,q7,q8,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,1087.0,421.1,D,C,D,C,E,B,A,D,...,A,E,C,D,D,D,D,B,C,E
1,1088.0,490.7,B,A,C,B,B,A,B,B,...,D,B,C,B,A,B,A,A,C,A
2,1086.0,398.1,C,B,C,C,D,B,C,A,...,B,C,C,C,A,C,A,C,D,B
3,1087.0,467.5,A,C,E,A,A,C,A,D,...,C,B,C,B,B,D,C,A,C,B
4,1086.0,458.7,D,D,D,D,D,B,C,D,...,D,D,D,D,D,D,E,D,D,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322373,1085.0,444.5,D,A,C,E,A,B,D,C,...,D,B,D,B,C,E,A,C,B,E
2322374,1088.0,536.1,D,A,E,C,B,D,D,E,...,C,A,B,E,B,C,A,B,C,B
2322375,1086.0,487.6,A,A,C,E,C,D,C,C,...,E,D,C,C,C,D,A,D,A,D
2322376,1087.0,512.5,D,A,A,C,C,B,E,D,...,B,B,*,D,A,B,C,E,C,D
2322377,1085.0,527.9,A,C,E,B,B,D,C,E,...,B,A,E,E,C,C,B,A,A,D

## Separando os tipos de prova:

In [19]:
# Separação das provas por cor
enemAzul = dados[dados['CO_PROVA_CN'] == 1085].reset_index(drop=True)
enemAmarela = dados[dados['CO_PROVA_CN'] == 1086].reset_index(drop=True)
enemCinza = dados[dados['CO_PROVA_CN'] == 1087].reset_index(drop=True)
enemRosa = dados[dados['CO_PROVA_CN'] == 1088].reset_index(drop=True)

## Removendo o codigo da prova:

In [20]:
enemAmarela = enemAmarela.drop('CO_PROVA_CN', axis=1)
enemAmarela

,NU_NOTA_CN,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,398.1,C,B,C,C,D,B,C,A,C,...,B,C,C,C,A,C,A,C,D,B
1,458.7,D,D,D,D,D,B,C,D,D,...,D,D,D,D,D,D,E,D,D,D
2,396.8,A,B,E,A,C,D,C,A,C,...,C,D,A,A,E,C,E,D,A,E
3,466.5,C,C,D,D,C,E,E,A,B,...,C,B,D,E,B,E,E,C,D,B
4,386.5,D,E,B,C,D,C,E,B,D,...,D,A,E,D,C,E,D,B,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578691,484.6,E,C,B,A,B,D,A,A,B,...,D,C,C,C,C,B,A,B,B,C
578692,561.6,E,B,E,A,B,A,B,A,D,...,B,D,D,D,E,D,A,B,E,B
578693,446.2,D,B,A,A,C,D,C,E,D,...,C,D,B,A,C,D,A,D,A,E
578694,401.5,E,A,B,E,D,D,C,C,C,...,D,D,D,C,D,E,E,A,D,D
578695,487.6,A,A,C,E,C,D,C,C,B,...,E,D,C,C,C,D,A,D,A,D

## Renomeando a coluna "Nota":

In [21]:
enemAmarela = enemAmarela.rename(columns={'NU_NOTA_CN': 'nota'})

## Azul:

In [22]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q14': 'q1',
    'q15': 'q2',
    'q16': 'q3',
    'q43': 'q4',
    'q44': 'q5',
    'q45': 'q6',
    'q36': 'q7',
    'q37': 'q8',
    'q38': 'q9',
    'q39': 'q10',
    'q40': 'q11',
    'q41': 'q12',
    'q42': 'q13',
    'q9': 'q14',
    'q10': 'q15',
    'q11': 'q16',
    'q12': 'q17',
    'q13': 'q18',
    'q17': 'q19',
    'q18': 'q20',
    'q26': 'q21',
    'q27': 'q22',
    'q28': 'q23',
    'q32': 'q24',
    'q33': 'q25',
    'q34': 'q26',
    'q35': 'q27',
    'q5': 'q28',
    'q6': 'q29',
    'q7': 'q30',
    'q8': 'q31',
    'q1': 'q32',
    'q2': 'q33',
    'q3': 'q34',
    'q4':  'q35',
    'q22':  'q36',
    'q23':  'q37',
    'q24': 'q38',
    'q25': 'q39',
    'q19': 'q40',
    'q20': 'q41',
    'q21': 'q42',
    'q29': 'q43',
    'q30': 'q44',
    'q31': 'q45',
}

enemAzul = enemAzul.loc[:, list(col_mapping.keys())]
enemAzul = enemAzul.rename(columns=col_mapping).reset_index(drop=True)

In [23]:
enemAzul

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,385.5,C,C,E,E,C,D,E,D,B,...,C,B,A,D,E,A,A,A,E,E
1,495.0,E,C,D,D,C,E,B,D,D,...,C,C,D,E,D,C,A,C,D,A
2,466.9,E,D,B,A,E,B,D,A,D,...,C,D,E,B,C,E,D,A,D,B
3,504.7,C,C,E,E,C,E,C,A,C,...,C,D,C,B,B,E,A,E,D,B
4,386.0,C,E,D,A,D,D,C,D,B,...,A,D,D,D,D,A,B,C,D,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578775,594.7,A,C,D,D,D,A,C,A,A,...,E,E,D,D,C,D,A,C,C,B
578776,535.3,D,A,B,A,D,D,C,A,C,...,B,A,D,C,B,D,A,D,A,C
578777,392.4,A,D,C,E,B,D,C,A,E,...,C,E,A,D,A,D,B,A,D,A
578778,444.5,E,D,D,C,B,E,D,B,D,...,A,A,B,B,A,C,B,E,D,A
578779,527.9,E,A,C,A,A,D,B,A,E,...,B,B,E,D,E,E,C,D,D,C

## Cinza:

In [24]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q30': 'q1',
    'q31': 'q2',
    'q32': 'q3',
    'q1': 'q4',
    'q2': 'q5',
    'q3': 'q6',
    'q6': 'q7',
    'q7': 'q8',
    'q8': 'q9',
    'q9': 'q10',
    'q10': 'q11',
    'q4': 'q12',
    'q5': 'q13',
    'q34': 'q14',
    'q35': 'q15',
    'q36': 'q16',
    'q37': 'q17',
    'q33': 'q18',
    'q28': 'q19',
    'q29': 'q20',
    'q18': 'q21',
    'q19': 'q22',
    'q20': 'q23',
    'q11': 'q24',
    'q12': 'q25',
    'q13': 'q26',
    'q14': 'q27',
    'q41': 'q28',
    'q38': 'q29',
    'q39': 'q30',
    'q40': 'q31',
    'q42': 'q32',
    'q43': 'q33',
    'q44': 'q34',
    'q45': 'q35',
    'q21': 'q36',
    'q22':  'q37',
    'q23':  'q38',
    'q24':  'q39',
    'q25':  'q40',
    'q26': 'q41',
    'q27': 'q42',
    'q15': 'q43',
    'q16': 'q44',
    'q17': 'q45',
}

enemCinza = enemCinza.loc[:, list(col_mapping.keys())]
enemCinza = enemCinza.rename(columns=col_mapping).reset_index(drop=True)

In [25]:
enemCinza

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,421.1,E,C,B,D,C,D,B,A,D,...,C,C,D,D,E,C,E,C,B,E
1,467.5,B,D,B,A,C,E,C,A,D,...,B,B,C,D,E,D,E,C,C,A
2,476.0,E,A,B,C,B,A,C,A,A,...,D,E,D,E,E,C,E,C,B,C
3,437.0,E,A,E,A,E,B,C,A,B,...,C,D,C,C,B,E,A,D,B,B
4,470.2,C,D,A,A,B,E,B,A,A,...,C,B,B,D,C,C,A,A,E,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586186,480.2,D,E,E,A,D,E,B,A,D,...,D,D,E,A,D,E,E,C,B,D
586187,586.0,E,A,D,D,D,E,C,D,E,...,B,E,E,C,D,D,A,A,D,C
586188,579.2,E,D,E,E,E,E,E,A,A,...,D,C,E,E,A,E,A,D,A,A
586189,580.2,E,A,C,A,C,E,B,D,B,...,D,E,E,C,E,C,A,D,B,C
586190,512.5,D,B,E,D,A,A,B,E,D,...,C,D,D,B,E,C,A,B,C,C

## Rosa:

In [26]:
# Primeiro processo
col_mapping = {
    'NU_NOTA_CN': 'nota',
    'q41': 'q1',
    'q42': 'q2',
    'q43': 'q3',
    'q33': 'q4',
    'q34': 'q5',
    'q35': 'q6',
    'q36': 'q7',
    'q37': 'q8',
    'q38': 'q9',
    'q39': 'q10',
    'q40': 'q11',
    'q44': 'q12',
    'q45': 'q13',
    'q19': 'q14',
    'q20': 'q15',
    'q21': 'q16',
    'q22': 'q17',
    'q23': 'q18',
    'q31': 'q19',
    'q32': 'q20',
    'q5': 'q21',
    'q6': 'q22',
    'q7': 'q23',
    'q27': 'q24',
    'q28': 'q25',
    'q29': 'q26',
    'q30': 'q27',
    'q18': 'q28',
    'q15': 'q29',
    'q16': 'q30',
    'q17': 'q31',
    'q11': 'q32',
    'q12': 'q33',
    'q13': 'q34',
    'q14': 'q35',
    'q1': 'q36',
    'q2':  'q37',
    'q3':  'q38',
    'q4':  'q39',
    'q8':  'q40',
    'q9': 'q41',
    'q10': 'q42',
    'q24': 'q43',
    'q25': 'q44',
    'q26': 'q45',
}

enemRosa = enemRosa.loc[:, list(col_mapping.keys())]
enemRosa = enemRosa.rename(columns=col_mapping).reset_index(drop=True)
enemRosa

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,490.7,B,A,A,B,C,B,D,B,C,...,B,A,C,B,B,C,A,C,B,A
1,481.4,D,A,B,A,B,D,C,E,B,...,D,D,C,D,E,D,A,C,B,B
2,493.8,D,B,E,D,C,E,B,A,B,...,C,A,E,D,D,D,C,D,C,B
3,402.1,B,D,E,E,E,D,C,D,B,...,A,B,C,A,E,D,D,E,C,B
4,462.7,A,A,D,C,D,D,C,D,A,...,C,D,C,B,E,E,A,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578706,507.5,D,B,B,A,B,D,B,B,D,...,C,D,B,C,E,E,A,C,B,B
578707,520.2,D,D,B,D,E,E,B,A,B,...,D,E,A,B,C,D,A,C,A,D
578708,594.4,A,C,B,D,B,E,E,C,B,...,B,B,D,C,C,C,A,C,C,B
578709,404.5,C,C,B,C,A,B,A,D,B,...,E,D,D,B,B,E,D,D,C,E
578710,536.1,C,A,B,D,E,E,C,A,B,...,D,A,E,C,E,C,A,C,C,A

# Processamento 2:

## Concatenando respostas|:

In [27]:
provaEnem = pd.concat([enemAmarela, enemAzul, enemCinza, enemRosa], ignore_index=True)
display(provaEnem)

,nota,q1,q2,q3,q4,q5,q6,q7,q8,q9,...,q36,q37,q38,q39,q40,q41,q42,q43,q44,q45
0,398.1,C,B,C,C,D,B,C,A,C,...,B,C,C,C,A,C,A,C,D,B
1,458.7,D,D,D,D,D,B,C,D,D,...,D,D,D,D,D,D,E,D,D,D
2,396.8,A,B,E,A,C,D,C,A,C,...,C,D,A,A,E,C,E,D,A,E
3,466.5,C,C,D,D,C,E,E,A,B,...,C,B,D,E,B,E,E,C,D,B
4,386.5,D,E,B,C,D,C,E,B,D,...,D,A,E,D,C,E,D,B,A,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2322373,507.5,D,B,B,A,B,D,B,B,D,...,C,D,B,C,E,E,A,C,B,B
2322374,520.2,D,D,B,D,E,E,B,A,B,...,D,E,A,B,C,D,A,C,A,D
2322375,594.4,A,C,B,D,B,E,E,C,B,...,B,B,D,C,C,C,A,C,C,B
2322376,404.5,C,C,B,C,A,B,A,D,B,...,E,D,D,B,B,E,D,D,C,E
2322377,536.1,C,A,B,D,E,E,C,A,B,...,D,A,E,C,E,C,A,C,C,A

## Dados das respostas:

In [28]:
# lista com os nomes das colunas que vão ser plotadas
colunas = ['q' + str(i) for i in range(1, 46)]

# criar um DataFrame vazio para armazenar os resultados
resultado = pd.DataFrame()

# loop para iterar sobre as colunas e criar os gráficos
for coluna in colunas:
    # obter os valores de value_counts()
    valores = provaEnem[coluna].value_counts()
    porcentagens = provaEnem[coluna].value_counts(normalize=True)

    # adicionar os valores e porcentagens como colunas no DataFrame resultado
    #resultado[coluna + '_valores'] = valores
    resultado[coluna + '_porcentagens'] = porcentagens

# Ordenar as linhas em ordem alfabética pelas letras que representam as alternativas
resultado = resultado.sort_index()

# exibir o resultado final
resultado

,q1_porcentagens,q2_porcentagens,q3_porcentagens,q4_porcentagens,q5_porcentagens,q6_porcentagens,q7_porcentagens,q8_porcentagens,q9_porcentagens,q10_porcentagens,...,q36_porcentagens,q37_porcentagens,q38_porcentagens,q39_porcentagens,q40_porcentagens,q41_porcentagens,q42_porcentagens,q43_porcentagens,q44_porcentagens,q45_porcentagens
*,0.001240,0.000862,0.000825,0.001122,0.000766,0.001277,0.000772,0.001084,0.000890,0.000847,...,0.000549,0.000877,0.001043,0.000840,0.000934,0.001052,0.001191,0.001070,0.000855,0.000636
.,0.001274,0.001549,0.002756,0.001263,0.003840,0.001108,0.000831,0.001720,0.002760,0.001991,...,0.003236,0.001795,0.001731,0.002803,0.002424,0.001433,0.001264,0.003720,0.001910,0.001748
A,0.174165,0.309020,0.113354,0.323734,0.099816,0.133768,0.093365,0.409620,0.163428,0.206550,...,0.180526,0.142976,0.099467,0.088244,0.126781,0.083353,0.471725,0.159988,0.179351,0.144012
B,0.109607,0.316062,0.224082,0.074289,0.256128,0.149597,0.305030,0.135374,0.311503,0.223958,...,0.276379,0.232714,0.156678,0.279148,0.133372,0.058236,0.154818,0.185217,0.316584,0.274648
C,0.108300,0.138184,0.196933,0.209596,0.308630,0.087746,0.497094,0.121141,0.162368,0.178195,...,0.303141,0.117656,0.243308,0.315417,0.163408,0.181258,0.072887,0.300577,0.173856,0.320208
D,0.208581,0.121331,0.232855,0.283306,0.260539,0.308271,0.070989,0.146531,0.252125,0.217542,...,0.181745,0.358328,0.279417,0.242294,0.302764,0.356761,0.077364,0.220390,0.159219,0.130011
E,0.396834,0.112991,0.229195,0.106689,0.070281,0.318233,0.031918,0.184531,0.106925,0.170916,...,0.054425,0.145654,0.218356,0.071255,0.270316,0.317907,0.220750,0.129038,0.168225,0.128737

In [29]:
# Gabarito
gabarito_2022 = ['E', 'A', 'C', 'D', 'D', 'E', 'B', 'E', 'A', 'C', 'C', 'C', 'D', 'A', 'B', 'C', 'E', 'E', 'C', 'B', 'B', 'C', 'C', 'A', 'E', 'B', 'E', 'D', 'A', 'B', 'E', 'A', 'D', 'B', 'A', 'D', 'D', 'C', 'B', 'D', 'D', 'A', 'A', 'E', 'B']
# Criando um novo DataFrame com as porcentagens de acerto da questão baseado no gabarito
porcentagens_acerto = pd.DataFrame()

for questao, resposta in enumerate(gabarito, start=1):
    if resposta in resultado.index:
        porcentagens_acerto[f'q{questao}_acerto'] = [resultado.loc[resposta, f'q{questao}_porcentagens']]
    else:
        porcentagens_acerto[f'q{questao}_acerto'] = [0.0]  # Alternativa não encontrada, atribui 0.0

# Exibindo o resultado
porcentagens_acerto

,q1_acerto,q2_acerto,q3_acerto,q4_acerto,q5_acerto,q6_acerto,q7_acerto,q8_acerto,q9_acerto,q10_acerto,...,q36_acerto,q37_acerto,q38_acerto,q39_acerto,q40_acerto,q41_acerto,q42_acerto,q43_acerto,q44_acerto,q45_acerto
0,0.174165,0.138184,0.229195,0.074289,0.256128,0.308271,0.497094,0.184531,0.252125,0.170916,...,0.276379,0.142976,0.218356,0.071255,0.163408,0.181258,0.154818,0.159988,0.179351,0.130011

In [30]:
# Encontrar a coluna com o maior valor
coluna_maior_valor = porcentagens_acerto.idxmax(axis=1).iloc[0]

# Obter os rótulos das 5 colunas com os maiores valores
maiores_colunas = porcentagens_acerto.iloc[0].nlargest(6).index

# Selecionar as 5 colunas com os maiores valores
dataset_maiores_colunas = porcentagens_acerto[maiores_colunas]

print("Dataset com as 5 colunas que possuem os maiores valores:")
dataset_maiores_colunas

Dataset com as 5 colunas que possuem os maiores valores:

   q7_acerto  q27_acerto  q33_acerto  q32_acerto  q19_acerto  q30_acerto
0   0.497094    0.424974    0.324306    0.321251    0.311657    0.311237

In [31]:
# Encontrar a coluna com o maior valor
coluna_maior_valor = porcentagens_acerto.idxmax(axis=1).iloc[0]

# Obter os rótulos das 5 colunas com os maiores valores
menores_colunas = porcentagens_acerto.iloc[0].nsmallest(6).index

# Selecionar as 5 colunas com os maiores valores
dataset_menores_colunas = porcentagens_acerto[menores_colunas]

print("Dataset com as 5 colunas que possuem os menores_colunas:")
dataset_menores_colunas

Dataset com as 5 colunas que possuem os menores_colunas:

   q25_acerto  q39_acerto  q4_acerto  q22_acerto  q20_acerto  q12_acerto
0    0.048058    0.071255   0.074289     0.07633    0.076977    0.092583

# Salvando:

In [32]:
# salvar o resultado em um arquivo CSV com o nome personalizado

resultado.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"resultados_{amostra}")
porcentagens_acerto.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"Porcentagem_quests_{amostra}")
dataset_maiores_colunas.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"quest_easy_{amostra}")
dataset_menores_colunas.to_csv("/content/drive/MyDrive/Pesquisa_Enem/Resultados/" + f"quest_hard_{amostra}")

print(f"O dataset foi salvo como resultados.")

O dataset foi salvo como resultados.